# Project exclude paths
/common/target/
/dynamic-threadpool-spring-boot-starter/target/
/example/target/
/server/target/
/auth/target/
/log-record-tool/target/
/registry/target/
.idea/
*.iml
ExampleLog/
.DS_Store